<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "notorii" %></title>
    
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>
  
  <body class="<%= page_classes %>">
    <article class="wrapper">
      <nav>
        <% link_to '/index.html' do %>
          <%= image_tag 'notorii.svg' %>
        <% end %>
        <%= link_to 'About', '/about.html' %>
      </nav>
      <article class="content">
        <%= yield %>
      </article>
      <footer>
        &copy; 2014
      </footer>
    </article>
  </body>
</html>