---
title: notorii - Bank of America
---

<section>
  <%= image_tag 'homepage/bank-of-america-thumb.png', :class => "logo"  %>
</section>

<hgroup>
  <h1>
    Bank of America
  </h1>
  <p>
    Complaints about banking software are commonplace. Often a labyrinth of information is expressed through a chaotic visual language. In lieu of whining about problems, we prefer to search for solutions. We chose to upgrade Bank of America for their bland identity and equally banal website.
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

<section>
  <%= image_tag 'projects/bank-of-america/bank-of-america-original-logo.png' %>
  <%= image_tag 'projects/bank-of-america/bank-of-america-current-identity-moodboard.png' %>
</section>  

<hgroup>
  <h1>
    Current Identity
  </h1>
  <p>
  The current identity is a hodgepodge of visual elements with a high volume of visual clutter. Heavy use of gradients, drop shadows, and glow effects creates a 2000's web 2.0 look. The existing logomark is soft, rounded, and at an awkward perspective. There is an overall lack of trustworthiness and reliability in the current design.
  </p>
  <div class="clearfix">
  </div>
</hgroup>

<section>
  <%= image_tag 'projects/bank-of-america/bank-of-america-logo.png' %>
  <%= image_tag 'projects/bank-of-america/bank-of-america-moodboard.png' %>
  <%= image_tag 'projects/bank-of-america/bank-of-america-style-guide.png' %>
</section>

<hgroup>
  <h1>
    Proposed Identity
  </h1>
  <p>
  Our proposed logomark in a sharp, precise form made of right angles; a design that signals reliability and precision. We moved the primary brand blue away from the 4th of July popsicle color, to the true navy blue of the flag.
  </p>
  <p>
  Akzidenz Grotesk harkens to the placards and signage seen in the banks of yesteryear, while remaining a fresh typographic choice. The color palette is pure americana, with a subtle orange tint lending a feel of patina. The NASA Discovery is the perfect metaphor for our design solution; retro futuristic. The proposed identity is both nostalgic, and cutting edge.
  </p>
  <div class="clearfix">
  </div>
</hgroup>

<section>
  <%= image_tag 'projects/bank-of-america/bank-of-america-original-homepage.png' %>
</section>  

<hgroup>
  <h1>
    Current Product Design
  </h1>
  <p>
  Hitting the homepage feels like encountering a brick wall. Small and inconsistent typography, key functionality placed in text links, and copious square modules lacking a grid system, are the main culprits. It's difficult to parse the key user actions due to density of information and high cognitive load.
  </p>
  <div class="clearfix">
  </div>
</hgroup>

<section>
  <%= image_tag 'projects/bank-of-america/bank-of-america-homepage.jpg' %>
  <%= image_tag 'projects/bank-of-america/bank-of-america-homepage-annotated.jpg' %>
  <%= image_tag 'projects/bank-of-america/bank-of-america-dashboard.png' %>
  <%= image_tag 'projects/bank-of-america/bank-of-america-dashboard-annotated.png' %>
  <%= image_tag 'projects/bank-of-america/bank-of-america-transaction-history.png' %>
  <%= image_tag 'projects/bank-of-america/bank-of-america-transfer-funds.png' %>
</section>

<hgroup>
  <h1>
    Product Design
  </h1>
  <p>
  Each page has a clear focus on the primary user action. We've made it simple to access these functions by removing the other elements vying for the user's attention.
  </p>
  <div class="clearfix">
  </div>
</hgroup>

<footer>
  <% link_to '/index.html' do %>
     Index
  <% end %>
  &copy; 2014
</footer>
