---
title: notorii - hired
---

<section>
  <%= image_tag 'homepage/hired-thumb.png', :class => "logo"  %>
</section>

<hgroup>
  <h1>
    Hired
  </h1>
  <p>
  In the summer of 2013, Developer Auction was facing a crisis of identity. The rapidly growing startup was expanding into recruiting beyond solely software developers, and needed a brand that was aligned with their business proposition and values.
  </p>
  <p>
  After Developer Auction secured the hired.com domain name, notorii founder Harold Herbert was enlisted to create the new identity. Over a ten-week timeline, the brand was executed on all physical & digital mediums.
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

<!--<hgroup>
  <h1>
    Mood Board
  </h1>
  <p>
    There are many possible visual solutions, but only one that is most appropriate for the business goals. Driven by Hired's goal of becoming the source for the best talent & opportunities in the technology industry, we drew from luxury branding & high-end craftsmanship for inspiration.
  </p>
  <div class="clearfix">
  </div>
</hgroup>-->

<section>
  <%= image_tag 'projects/hired/hired-brand-manual.png' %>
  <%= image_tag 'projects/hired/hired-brand-manual2.png' %>
  <%= image_tag 'projects/hired/hired-brand-manual3.png' %>
  <%= image_tag 'projects/hired/hired-brand-manual4.png' %>
</section>

<hgroup>
  <h1>
    Brand Manual
  </h1>
  <p>
  A comprehensive brand manual was developed articulating the company's core tenements, logo, color scheme, typography, and proper usage.
  </p>
  <p>
     <% link_to 'images/projects/hired/hired-brand-manual.pdf' do %>
        PDF
    <% end %>
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

<section>
  <%= image_tag 'projects/hired/hired-sass-library.jpg' %>
</section>

<hgroup>
  <h1>
   SASS Library
  </h1>
  <p>
  Hired's website is composed of a pure code interface utilizing SASS and icon fonts for a lightweight, scalable design. A full front-end library of reusable SASS modules was developed for rapid prototyping and development.
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

<section>
  <%= image_tag 'projects/hired/hired-website-devices.jpg' %>
</section>

<hgroup>
  <h1>
  Website
  </h1>
  <p>
    A full re-factor of the front-end codebase was required to apply the new visual identity. A flexible, responsive, framework was utilized to ensure usability on a range of devices.
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

<section>
  <%= image_tag 'projects/hired/hired-stationery-mockup.jpg' %>
  <%= image_tag 'projects/hired/hired-business-cards-mockup.jpg' %>  
</section>

<hgroup>
  <h1>
    Collateral
  </h1>
  <p>
  In the digital era, the value of high-end print collateral cannot be understated. We worked with local print craftsmen Dependable Letterpress, to develop a top of the line stationery using traditional print techniques. The weighty materials, de-bossed lettering, and textured paper stock created a memorable experience for the physical touch point of the brand.
  </p>
  <p>
  <!--Custom gift boxes were fabricated to give as gifts to talent hired through the platform. The dimensions of the packaging were made specific to the contents of a bottle of Dom Perigon, embossed moleskine, Hired tee shirt, and hand written note from a personal talent advocate.-->
  </p> 
  <div class="clearfix">
  </div>  
</hgroup>

<section>
  <%= image_tag 'projects/hired/hired-interior-design7.jpg' %>
  <%= image_tag 'projects/hired/hired-interior-design8.jpg' %>
  <%= image_tag 'projects/hired/hired-interior-design9.jpg' %>
  <%= image_tag 'projects/hired/hired-interior-design4.jpg' %>
</section>

<hgroup>
  <h1>
    Interior Design
  </h1>
  <p>
  The interior design strategy of the new Hired offices was to create a visual continuation of the digital experience. Off-white was used as the dominant paint color, with the brand's charcoal gray brought into play to highlight the detailing of the metalwork in the building. Pops of color drawn from the palatte of the interface were realized through the use of bright accent furniture and foliage, maintaining the color proportions of the web platform.
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

<footer>
  <% link_to '/index.html' do %>
     Index
  <% end %>
  <span class="divider">
      |
  </span>
  <% link_to '/money-and-tech.html' do %>
      Next
  <% end %>
  &copy; 2014
</footer>
