---
title: notorii - hired
---

<section>
  <%= image_tag 'homepage/hired-thumb.png', :class => "logo"  %>
</section>

<hgroup>
  <h1>
    Hired
  </h1>
  <p>
  The rapidly growing startup, Developer Auction, was facing a crisis of identity. After expanding into technical recruiting beyond solely software developers, they needed a brand 
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

<section>
  <hr>
  <%= image_tag 'projects/hired/hired-brand-manual.jpg' %>
  <%= image_tag 'projects/hired/hired-brand-manual2.jpg' %>  
  <%= image_tag 'projects/hired/hired-brand-manual3.jpg' %>  
  <%= image_tag 'projects/hired/hired-brand-manual4.jpg' %>      
</section>

<hgroup>
  <h1>
    Brand Manual
  </h1>
  <p>
  A comprehensive brand manual was developed articulating the company's core tenements, logo, color scheme, typography, grid system, collateral design, and proper usage.
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

<section>
  <%= image_tag 'projects/hired/hired-sass-library.jpg' %>
</section>

<hgroup>
  <h1>
   SASS Library
  </h1>
  <p>
  Hired's website is composed of a pure code interface utlizing SASS and icon fonts for a lightweight, scalable design. A full front-end library of resuable SASS modules was developed for rapid prototyping and development.
  <br>
  <br>
  <a href="http://hired.com/library" target="_blank">hired.com/library</a>
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

<section>
  <%= image_tag 'projects/hired/hired-website-devices.jpg' %>
</section>

<hgroup>
  <h1>
  Website
  </h1>
  <p>
  A flexible responsive framework was utilized to ensure usability on a range of devices.
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

<section>
  <%= image_tag 'projects/hired/hired-stationery-mockup.jpg' %>
  <%= image_tag 'projects/hired/hired-business-cards-mockup.jpg' %>  
</section>

<hgroup>
  <h1>
    Collateral
  </h1>
  <p>
  In the digital era, the value of high-end print collateral cannot be understated. we worked with local print craftsmen in San Francisco, Depenable Letterpress, to develop a top of the line stationery using traditional print techniques. The weighty materials, de-bossed lettering, and textured paperstock created a memorable experience for the physical touch point of the brand.
  </p>
  <p>
  <!--Custom gift boxes were fabricated to give as gifts to talent hired through the platform. The dimensions of the packaging were made specific to the contents of a bottle of Dom Perigon, embossed moleskine, Hired tee shirt, and hand written note from a personal talent advocate.-->
  </p> 
  <div class="clearfix">
  </div>  
</hgroup>

<section>
  <%= image_tag 'projects/hired/hired-interior-design.png' %>
  <%= image_tag 'projects/hired/hired-interior-design2.png' %>
  <%= image_tag 'projects/hired/hired-interior-design3.png' %>
  <%= image_tag 'projects/hired/hired-interior-design4.png' %>
</section>

<hgroup>
  <h1>
    Interior Design
  </h1>
  <p>
  The strategy for the interior Design of the new Hired offices was to create a visual continuation of digital experience. Off white was used as the dominant paint color, with the brand's charcoal gray brought into play to highlight the detailing of the metalwork in the building. Pops of color drawn from the palatte of the interface were realized through the use of bright accent furniture and foliage, maintaining the color proportions of the digital platform.
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

<footer>
  <% link_to '/index.html' do %>
     Index
  <% end %>
  <% link_to '#' do %>
      |
  <% end %>
  <% link_to '/money-and-tech.html' do %>
      Next
  <% end %>
  &copy; 2014
</footer>
