---
title: notorii - hired
---

<section>
  <%= image_tag 'homepage/hired-thumb.png', :class => "logo"  %>
</section>

<hgroup>
  <h1>
    Hired
  </h1>
  <p>
  notorii executed the rebrand from Developer Auction on all mediums over a twelve week period.
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

<section>
  <%= image_tag 'projects/hired/hired-brand-manual.jpg' %>
  <%= image_tag 'projects/hired/hired-brand-manual2.jpg' %>  
  <%= image_tag 'projects/hired/hired-brand-manual3.jpg' %>  
  <%= image_tag 'projects/hired/hired-brand-manual4.jpg' %>      
</section>

<hgroup>
  <h1>
    Brand Manual
  </h1>
  <p>
  notorii developed a comprohensive brand manual outlining the brand tenaments, logo, color scheme, typography, grid system, collateral design, and proper usage.
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

<section>
  <%= image_tag 'projects/hired/hired-sass-library.jpg' %>
</section>

<hgroup>
  <h1>
   SASS Library
  </h1>
  <p>
  notorii developed a comprohensive brand manual outlining the brand tenaments, logo, color scheme, typography, grid system, collateral design, and proper usage.
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

<section>
  <%= image_tag 'projects/hired/hired-stationery-mockup.jpg' %>
  <%= image_tag 'projects/hired/hired-business-cards-mockup.jpg' %>  
</section>

<hgroup>
  <h1>
    Collateral
  </h1>
  <p>
  notorii developed a comprohensive brand manual outlining the brand tenaments, logo, color scheme, typography, grid system, collateral design, and proper usage.
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

