---
title: notorii - kaec
private: true
---

<section>
  <%= image_tag 'homepage/kaec-thumb.png', :class => "logo"  %>
</section>

<hgroup>
  <h1>
    KAEC
  </h1>
  <p>
    notorii was engaged to redesign the website of King Abdullah Economic City with an emphasis on opportunity, connectivity, and growth.
  </p>
  <div class="clearfix">
  </div>
</hgroup>

<section>
  <%= image_tag 'projects/kaec/wireframe.png' %>
</section>

<section>
  <%= image_tag 'projects/kaec/homepage.png' %>
</section>

<section>
  <%= image_tag 'projects/kaec/industrial-valley.png' %>
</section>

<%= footer %>

