---
title: notorii - money and tech
---

<section>
  <%= image_tag 'homepage/money-and-tech-thumb.png', :class => "logo"  %>
</section>

<hgroup>
  <h1>
    Money & Tech
  </h1>
  <p>
  Money And Tech is your one-stop source for the latest news on rapidly emerging innovations in the finance and tech sectors.
We are driven to create a dynamic, one-stop source for the latest news that informs a broader population about the rapidly emerging innovations in the finance and tech sectors. With our weekly news program "Money & Tech", as well as additional resources and information on the latest trends via the MoneyAndTech.com website, we aim to provide you with a constant stream of engaging and up-to-the-minute news, in an effort to encourage a more informed global audience in the drastically changing face of global currency and the way we exchange value as an economy!
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

<section>
  <%= image_tag 'projects/money-and-tech/money-and-tech-brand-manual.png' %>
  <%= image_tag 'projects/money-and-tech/money-and-tech-brand-manual2.png' %>  
  <%= image_tag 'projects/money-and-tech/money-and-tech-brand-manual3.png' %>  
  <%= image_tag 'projects/money-and-tech/money-and-tech-brand-manual4.png' %>      
</section>

<hgroup>
  <h1>
    Brand Manual
  </h1>
  <p>
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

<section>
  <%= image_tag 'projects/the-silk-road/the-silk-road-website.jpg' %>
</section>

<hgroup>
  <h1>
   Website
  </h1>
  <p>
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

<section>
  <%= image_tag 'projects/money-and-tech/money-and-tech-stationery.jpg' %>
  <%= image_tag 'projects/money-and-tech/money-and-tech-stationery-isometric.jpg' %>
  <%= image_tag 'projects/money-and-tech/money-and-tech-stationery-letterhead-detail.jpg' %>   
  <%= image_tag 'projects/money-and-tech/money-and-tech-stationery-business-card-detail.jpg' %>     
</section>

<hgroup>
  <h1>
    Collateral
  </h1>
  <div class="clearfix">
  </div>  
</hgroup>

