---
title: notorii - MUNI
---

<section>
  <%= image_tag 'homepage/muni-thumb.png', :class => "logo"  %>
</section>

<hgroup>
  <h1>
    MUNI
  </h1>
  <p>
  I remember seeing the MUNI identity for the first time while visiting San Francisco as a design student. Sitting on the train en route to Ocean Beach, I stared at the enigmatic graphic. It looked like a modernist's visual souvenir from an acid trip. Upon further inspection, the concentric lines yielded their acronym: MUNI.
  </p>
  <p>
  Dispite such a powerful and intricate logomark, I've always felt the rest of the MUNI's identity fell short. Here is our take on updating the iconic transportation system.
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

<section>
  <%= image_tag 'projects/muni/muni-current-identity.png' %>
</section>

<hgroup>
  <h1>
    Current Identity
  </h1>
  <p>The current MUNI identity seems to channel the bleakness of street life more than the liveliness of San Francisco. Predominantly gray vehicles blend in to the industrial color palette of SOMA. The unique geometric logo of concentric lines is original and memorable, but the variable stroke weight feels like dated 70's futurism.
  </p> 
  <div class="clearfix">
  </div>
</hgroup>

<section>
  <%= image_tag 'projects/muni/muni-logo-animation.gif' %>
  <%= image_tag 'projects/muni/muni-mood-board.png' %>  
  <%= image_tag 'projects/muni/muni-style-guide.png' %>
  <%= image_tag 'projects/muni/muni-stationery.png' %>  
</section> 

<hgroup>
  <h1>
    Proposed Identity
  </h1>
  <p>
  Our proposed identity reflects the color & vibrancy of the city's landscape, architecture, & inhabitants.
  </p>
  <p>
  Blue, green, yellow, and orange hues were pulled from the colorful victorian buildings and histroic street cars. The palette is slightly subdued; as the colors appear obfiscated through the fog, or the patina of relics painted yesteryear.
  <p>
  The tileable pattern is inspired by the sweeping turns of legendary Lombard Street, and winding roads of Twin Peaks. The diagnoal colors blocks are a nod to nautical flags, and the city's origin as a port town.
  </p>

 <p>
  The typographic pairing of Futura & Apercu Mono work as a metaphor for the city's duality. A timeless classic, Futura is the city holding on to it's roots. Apecu Mono is the inevitibilty of change. A progammer font being used in print and signage, this choice bucks conventionality.
  </p>
  <div class="clearfix">
  </div>
</hgroup>

<section> 
  <%= image_tag 'projects/muni/muni-fast-pass.png' %> 
  <br>
  <br>
  <br>
  <br>    
  <%= image_tag 'projects/muni/muni-fast-pass-vertical.png' %> 
</section>

<hgroup>
  <h1>
    Fast Pass
  </h1>
  <p>The former MUNI fast pass design is where color use was allowed to shine. We stayed true to the original design system of swappable color blocks, while substituing the new visual elements of our proposed identity. The volume of possible color combinations allow a unique pass to be used every month for many years to come.
  </p> 
  <div class="clearfix">
  </div>
</hgroup>

<section> 
  <%= image_tag 'projects/muni/muni-ride-tickets-monthly.png' %> 
  <br>
  <br>
  <br>
  <br>  
  <%= image_tag 'projects/muni/muni-ride-tickets.png' %> 
</section>

<hgroup>
  <h1>
    Tickets
  </h1>
  <p>Transit employees need to be able to determine the validaity of a rider's ticket at a glance. We designed a system with an assigned color each day of the week, and a different border and background treatment each week, on a four week cycle. Colors can be shuffled after each cycle to prevent ticket fraud. We opted for economic single color printing to keep costs down.
  </p> 
  <div class="clearfix">
  </div>
</hgroup>

<section>
  <%= image_tag 'projects/muni/muni-bus-yellow-artboard.png' %>
  <%= image_tag 'projects/muni/muni-bus-red-artboard.png' %> 
  <%= image_tag 'projects/muni/muni-bus-blue-artboard.png' %> 
  <%= image_tag 'projects/muni/muni-bus-green-artboard.png' %>   
  <%= image_tag 'projects/muni/muni-bus-orange.jpg' %>
  <%= image_tag 'projects/muni/muni-bus-red.jpg' %> 
  <%= image_tag 'projects/muni/muni-bus-blue.jpg' %> 
  <%= image_tag 'projects/muni/muni-bus-green.jpg' %> 
</section>

<hgroup>
  <h1>
    Vehicles
  </h1>
  <p>Due to their dominant visual presence in the city, we opted for a more restrained color use in the vehicle design. The bulk is painted using two diagnol monochromtic color blocks, with our repeating pattern in an analogous color.
  </p> 
  <div class="clearfix">
  </div>
</hgroup>

<section>
  <%= image_tag 'projects/muni/muni-church-market-castro-stop.png' %> 
  <%= image_tag 'projects/muni/muni-church-stop.png' %>     
  <%= image_tag 'projects/muni/muni-transit-stops.jpg' %>  
</section>

<hgroup>
  <h1>
    Transit Stops
  </h1>
  <p>High color contrast allows the route numbers to be parsed from a distance.
  </p> 
  <div class="clearfix">
  </div>
</hgroup>

<footer>
  <% link_to '/index.html' do %>
      Index
  <% end %>
  <span class="divider">
      |
  </span>
  <% link_to '/os-x-icons.html' do %>
      Next
  <% end %>
  &copy; 2014
</footer>


