---
title: notorii - nicolin mathiasson
---


<section>
  <%= image_tag 'homepage/nicolin-mathiasson-thumb.jpg', :class => "logo" %>
</section>

<hgroup>
  <h1>
    Nicolin Mathiasson
  </h1>
  <p>
    notorii helped Swedish model Nicolin Mathiasson articulate her personal brand, and build a digital presence.
  </p>
  <div class="clearfix">
  </div>
</hgroup>

<section>
  <%= image_tag 'projects/nicolin-mathiasson/nicolin-mathiasson-style-guide.png' %>
  <%= image_tag 'projects/nicolin-mathiasson/nicolin-mathiasson-style-guide2.png' %>
  <%= image_tag 'projects/nicolin-mathiasson/nicolin-mathiasson-style-guide3.png' %>
  <%= image_tag 'projects/nicolin-mathiasson/nicolin-mathiasson-style-guide4.png' %>
  <%= image_tag 'projects/nicolin-mathiasson/nicolin-mathiasson-style-guide5.png' %>
  <%= image_tag 'projects/nicolin-mathiasson/nicolin-mathiasson-style-guide6.png' %>
</section>

<footer>
  <% link_to '/index.html' do %>
      Index
  <% end %>
  <span class="divider">
      |
  </span>
  <% link_to '/local-tribes.html' do %>
      Next
  <% end %>
  &copy; 2014
</footer>