---
title: notorii - OS X Icons
---

<section>
  <%= image_tag 'homepage/os-x-icons-thumb.png', :class => "logo"  %>
</section>

<hgroup>
  <h1>
    OS X Icons
  </h1>
  <p>
  Inspired by <% link_to 'http://www.kare.com/portfolio/03_apple_macicons.html' do %>
      Susan Kare's
  <% end %> work for the original 1984 Macintosh, we created & open sourced an OS X icon set built on an 11x11 pixel grid.
  </p>
  <% link_to 'https://github.com/haroldherbert/os-x-icons', class:"reference" do %>
      download on github
  <% end %>
  <div class="clearfix">
  </div>  
</hgroup>

<section>
  <%= image_tag 'projects/os-x-icons/os-x-icons-finder-logo.png' %>
</section>

<section>
  <%= image_tag 'projects/os-x-icons/os-x-icons-mood-board.jpg' %>
</section>

<section>
  <%= image_tag 'projects/os-x-icons/os-x-icons-macbook.png' %>
  <%= image_tag 'projects/os-x-icons/os-x-icons-set.png' %>  
</section>

<footer>
  <% link_to '/index.html' do %>
      Index
  <% end %>
  <span class="divider">
      |
  </span>
  <% link_to '/the-silk-road.html' do %>
      Next
  <% end %>
  &copy; 2014
</footer>
