---
title: notorii - peerbrief
---


<section>
  <%= image_tag 'homepage/peerbrief-thumb.png', :class => "logo" %>
</section>

<hgroup>
  <h1>
    Peerbrief
  </h1>
  <p>
    Peerbrief enlisted notorii to develop the identity for their crowdsourced referral platform.
  </p>
  <div class="clearfix">
  </div>
</hgroup>

<section>
  <%= image_tag 'projects/peerbrief/peerbrief-logo.png' %>
</section>

<section>
  <%= image_tag 'projects/peerbrief/peerbrief-mood-board.png' %>
</section>

<hgroup>
  <h1>
    Mood Board
  </h1>
  <div class="clearfix">
  </div>
</hgroup>

<section>
  <%= image_tag 'projects/peerbrief/peerbrief-brand-manual.png' %>
  <%= image_tag 'projects/peerbrief/peerbrief-brand-manual2.png' %>
  <%= image_tag 'projects/peerbrief/peerbrief-brand-manual3.png' %>
  <%= image_tag 'projects/peerbrief/peerbrief-brand-manual4.png' %>
  <%= image_tag 'projects/peerbrief/peerbrief-brand-manual6.png' %>
  <%= image_tag 'projects/peerbrief/peerbrief-brand-manual5.png' %>
</section>

<%= footer %>

