---
title: notorii - the silk road
---

<section>
  <%= image_tag 'homepage/the-silk-road-thumb.png', :class => "logo"  %>
</section>

<hgroup>
  <h1>
    The Silk Road
  </h1>
  <p>
  In honor of The Silk Road returning to operation, notorii redesigned the notorious platform's idenity.
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

<section>
  <%= image_tag 'projects/the-silk-road/the-silk-road-brand-manual.png' %>
  <%= image_tag 'projects/the-silk-road/the-silk-road-brand-manual2.png' %>  
  <%= image_tag 'projects/the-silk-road/the-silk-road-brand-manual3.png' %>  
  <%= image_tag 'projects/the-silk-road/the-silk-road-brand-manual4.png' %>      
</section>

<hgroup>
  <h1>
    Brand Manual
  </h1>
  <p>
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

<section>
  <%= image_tag 'projects/the-silk-road/the-silk-road-website.jpg' %>
</section>

<hgroup>
  <h1>
   Website
  </h1>
  <p>
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

<section>
  <%= image_tag 'projects/the-silk-road/the-silk-road-stationery.jpg' %>
  <%= image_tag 'projects/the-silk-road/the-silk-road-stationery-isometric.jpg' %>
  <%= image_tag 'projects/the-silk-road/the-silk-road-stationery-letterhead-detail.jpg' %>   
  <%= image_tag 'projects/the-silk-road/the-silk-road-business-card-detail.jpg' %> 
  <%= image_tag 'projects/the-silk-road/the-silk-road-business-cards.jpg' %>      
</section>

<hgroup>
  <h1>
    Collateral
  </h1>
  <div class="clearfix">
  </div>  
</hgroup>

