---
title: notorii - Vame
---

<section>
  <%= image_tag 'homepage/vame-thumb.png', :class => "logo"  %>
</section>

<hgroup>
  <h1>
    Vame
  </h1>
  <p>
    A name provides a sense of personal identity and uniqueness; its correct pronunciation demonstrates and engenders cultural respect. Vame is a software service platform that celebrates personalized name pronunciation worldwide.
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

<section>
  <%= image_tag 'projects/vame/vame-logo.png' %>
</section>

<section>
  <%= image_tag 'projects/vame/vame-brand-manual.png' %>
  <%= image_tag 'projects/vame/vame-brand-manual2.png' %>
  <%= image_tag 'projects/vame/vame-brand-manual3.png' %>
  <%= image_tag 'projects/vame/vame-brand-manual4.png' %>
</section>

<hgroup>
  <h1>
    Brand Manual
  </h1>
  <p>
  We created a friendly, approachable identity, utilizing color to highlight functionality within the product.
  </p>
  <% link_to 'images/projects/vame/vame-brand-manual.pdf', class:"reference" do %>
     PDF
  <% end %>
  <div class="clearfix">
  </div>
</hgroup>

<section>
  <%= image_tag 'projects/vame/vame-landing-page.jpg' %>
</section>

<hgroup>
  <h1>
    Landing Page
  </h1>
  <p>
    The simplicity of the layout and copy on the landing page reflect the ease of use and approachability of the product.
  </p>
  <div class="clearfix">
  </div>
</hgroup>

<section>
  <%= image_tag 'projects/vame/vame-creation-flow-01.png' %>
  <%= image_tag 'projects/vame/vame-creation-flow-02.png' %>
  <%= image_tag 'projects/vame/vame-creation-flow-03.png' %>
  <%= image_tag 'projects/vame/vame-creation-flow-04.png' %>
  <%= image_tag 'projects/vame/vame-creation-flow-05.png' %>

</section>

<hgroup>
  <h1>
  Product Design
  </h1>
  <p>
    In designing the Vame creation flow, we reduced to the fewest steps possible. Internationally recognized colors and iconography were employed to create a universal, language agnostic design.
  </p>
  <div class="clearfix">
  </div>  
</hgroup>



<footer>
  <% link_to '/index.html' do %>
     Index
  <% end %>
  &copy; 2014
</footer>
