---
title: notorii - Vame
---

<section>
  <%= image_tag 'homepage/hired-thumb.png', :class => "logo"  %>
</section>

<hgroup>
  <h1>
    Vame
  </h1>
  <p>
  </p>
  <div class="clearfix">
  </div>  
</hgroup>


<section>
  <%= image_tag 'projects/hired/hired-brand-manual.png' %>
  <%= image_tag 'projects/hired/hired-brand-manual2.png' %>
  <%= image_tag 'projects/hired/hired-brand-manual3.png' %>
  <%= image_tag 'projects/hired/hired-brand-manual4.png' %>
</section>

<hgroup>
  <h1>
    Brand Manual
  </h1>
  <p>
  A comprehensive brand manual was developed articulating the company's core tenements, logo, color scheme, typography, and proper usage.
  </p>
  <p>
     <% link_to 'images/projects/hired/hired-brand-manual.pdf' do %>
        PDF
    <% end %>
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

<section>
  <%= image_tag 'projects/hired/hired-website-devices.jpg' %>
</section>

<hgroup>
  <h1>
  Website
  </h1>
  <p>
    A full re-factor of the front-end codebase was required to apply the new visual identity. A flexible, responsive, framework was utilized to ensure usability on a range of devices.
  </p>
  <div class="clearfix">
  </div>  
</hgroup>

<section>
  <%= image_tag 'projects/hired/hired-stationery-mockup.jpg' %>
  <%= image_tag 'projects/hired/hired-business-cards-mockup.jpg' %>  
</section>

<hgroup>
  <h1>
    Collateral
  </h1>
  <p>
  In the digital era, the value of high-end print collateral cannot be understated. We worked with local print craftsmen Dependable Letterpress, to develop a top of the line stationery using traditional print techniques. The weighty materials, de-bossed lettering, and textured paper stock created a memorable experience for the physical touch point of the brand.
  </p>
  <div class="clearfix">
  </div>  
</hgroup>



<footer>
  <% link_to '/index.html' do %>
     Index
  <% end %>
  &copy; 2014
</footer>
